<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CriminalFinder.BusinessLayer.Properties.Settings.CriminalFinderDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-C7Q3MLK\SQLEXPRESS;Initial Catalog=CriminalFinderDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>