@{
    ViewBag.Title = "Sent";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sent</title>
</head>
<body>
    <h2>Success !!!</h2>
    @*<h2>@ViewData["result"]</h2>*@

    <p>@Html.ActionLink("Back", "GetCriminals", "Criminal") </p>
</body>
</html>
