<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:57298/CriminalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICriminalService"
                contract="CriminalWS.ICriminalService" name="BasicHttpBinding_ICriminalService" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICriminalService" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>